

.sections {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: wheat;
    position: relative;
    padding-top: 30px;

    &::before,&::after {
        content: '';
        position: absolute;
        left: 0;
    }
    &::before {
        clip-path: polygon(100% 33%, 0% 100%, 100% 100%);
        background:linear-gradient(45deg,rgba(216, 46, 8, 0.085),rgba(62, 7, 189, 0.126));
        width: 100%;
        height: 100%;
}

  }
  .sections .sectionTitle {
    text-align: center;
    color: olive;
    font-size: 60px;
    font-weight: bolder;
  }
  
  .sectionList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */
  
  .sectionItem {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    
  }
  .sectionItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .sectionItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    h1 {  
    font-size: 25px;
    }
  }
  
  @media only screen and (max-width: 1300px) {
    .sectionList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .sectionList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .sectionList {
      width: 100%;
    }
    .sectionItem {
      width: 300px;
      height: 300px;
    }
  }

// .sections {
//     width: 100%;
//     min-height: 100vh;
//     background:linear-gradient(45deg,rgba(11, 141, 228, 0.77),rgba(226, 87, 36, 0.562));
//     overflow: hidden;
//     padding-top: 200px;

// }


// .section__container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin: 2.5rem;
// }

// .section__image{
//      float: left;
//      margin-top: 5rem;
//      margin-left: 5rem;
//      width: 40%;
//      height: 300px;
//      padding: 20px;
//      object-fit: cover;
// }


// .section__content {
//     content: "";
//     clear:both;
//     display: table;
//     margin: 0 auto;
//     line-height: 50px;
//     text-align: center;


//     h1 {
//         color: wheat;
//         text-transform: uppercase;
//         font-size: 20px;
//         margin-bottom: 2.125rem;
//         text-align: center;
//         width: 100%;
//         height: 50px;
    
//     }

//     p {
//         font-weight: bolder;
//         color: #fff;
//         text-transform: uppercase;
//         border-bottom: 1px solid green;
//         cursor: pointer;
//         box-shadow: 2px 2px 15px green;
//         padding: 6px;
//         margin-block: 7px
        
//         ;

//         &:hover {
//             transform: scale(110%);
//             transition: 250ms;
//             color: firebrick;
//         }
//     }
// }

// @media (max-width:1100px) {
//     .section__container {
//         flex-direction: column;
//         margin: 2.5rem;


//     h1 {

//         font-size: 25px;
//         margin-bottom: 0rem;
//     }

//     p {
//         font-size: 26px;
//         margin-block: 25px;
//         padding: 25px;
//         font-weight: normal;
//     }

//     }

//     .section__img img{
//         width: 720px;
//         height: 410px;
//         padding: 5px;
//         object-fit: cover;
//     }

// }



// @media (max-width:735px) {
//     .section__img img{
//         width: 300px;
//         height: 220px;
//         padding: 2px;
//         object-fit: cover;
//     }


//     .section__container {
//         flex-direction: column;
//         margin: 1.5rem;


//     h1 {

//         font-size: 25px;
//     }

//     p {
//         font-size: 10px;
//         margin-block:5px;
//         padding: 5px;

//     }

//     }
// }

// @media (max-width:335px) {
//     .section__container {
//         margin: 0;
//     h1 {

//         font-size: 20px;
//         margin-bottom: 0rem;
//     }

//     p {
//         font-size: 12px;
//         margin-block: 0px;
//         padding: 0px;
//         font-weight: normal;
//         box-shadow: 2px 2px 5px green;
//     }

//     }

//     .section__img img{
//         width: 250px;
//         height: 150px;
//         padding: 2px;
//         object-fit: cover;
//     }

// }